.klasa1{
  display: inline-block;
  border: solid 1px #ccc;
  width:43%;
  height: 70px;
}
.scroll{
  overflow-x: scroll;
  overflow-y: hidden;
}

ion-title{

  font-family: "Sofia" !important;
  font-weight: bold;
  font-size: 25px;
}
