<ion-header>
  <ion-toolbar color="filmlo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="center">Aktivnost</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner  name="bubbles" ></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
  <div class="scroll" style="width: 100%" >
    <ion-card class="klasa1" *ngFor="let i of statistics">
      <ion-card-subtitle style="text-align: center; font-size: large " >
        {{i.name}}
      </ion-card-subtitle>
      <ion-card-content style="text-align: center; font-weight: bold; color: black; font-size: x-large">
        {{i.value}}
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card style="border: solid 1px  #ccc; ">
      <ion-item>
        <ion-button slot="start" expand="full" color="filmlo" (click)="getData()" [disabled]="stock == ''">
          <ion-icon slot="start" name="search"></ion-icon>
          UCITAJ GRAFIK
        </ion-button>
        <ion-input type="text" [(ngModel)]="stock" placeholder="AAPL, MSFT..."></ion-input>
        <ion-fab vertical="center" horizontal="end" style="zoom:0.8;"  >
          <ion-fab-button color="filmlo">
            <ion-icon name="options-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-item>

      <canvas baseChart
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [colors]="chartColors"
              [legend]="showLegend"
              [chartType]="chartType">
      </canvas>
    </ion-card>
  </div>

  <!--<ion-card style="width:300px; height:200px">
      <ion-card-header>
          <ion-card-title>Settings</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-item>
              <ion-label>Line chart?</ion-label>
              <ion-toggle (ionChange)="typeChanged($event)" checked></ion-toggle>
          </ion-item>
          <ion-item>
              <ion-label>Show legend?</ion-label>
              <ion-toggle [(ngModel)]="showLegend"></ion-toggle>
          </ion-item>

      </ion-card-content>
  </ion-card>-->


  <div class="scroll2" style="width: 100%">
    <ion-card style="border: solid 1px #ccc; height: 70px;" *ngFor="let i of recently">
      <ion-card-subtitle style="text-align: center; font-size: large " >
        {{i.name}}
      </ion-card-subtitle>
      <ion-card-content style="text-align: center; font-weight: bold; color: black; font-size: x-large">
        {{i.value}}
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card style="border: solid 1px  #ccc; " >
      <ion-item>

        <ion-col col-md-4  >
        <ion-select  placeholder="Zanr" okText="Potvrdi" cancelText="Odustani"
                     value="zanr" (ionChange)="onChangeZanr($event)" >
          <ion-select-option *ngFor="let i of zanrovi">{{i.name}}</ion-select-option>
        </ion-select>
         </ion-col>
        <ion-col col-md-4 >
        <ion-select placeholder="Sortiraj"  okText="Potvrdi" cancelText="Odustani" value="sortiraj" (ionChange)="onChangeSort($event)">
          <ion-select-option value="asc">Ocene rastuce</ion-select-option>
          <ion-select-option value="desc">Ocene opadajuce</ion-select-option>
        </ion-select>
        </ion-col>
        <ion-col col-md-4 >
          <ion-fab vertical="center" horizontal="end" style="zoom:0.8;" (click)="filtriraj()">
            <ion-fab-button color="filmlo" >
              <ion-icon name="search"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
      </ion-item>
      <ion-row *ngFor="let movie of filterData">
        <ion-item style="width: 100%" >
          <ion-col col-md-4 style="text-align: center">{{movie.naziv}}</ion-col>
          <ion-col col-md-4 style="text-align: center">{{movie.zanr}}</ion-col>
          <ion-col col-md-4 style="text-align: center">{{movie.ocena}}</ion-col>
        </ion-item>
      </ion-row>
    </ion-card>
  </div>
  </ion-grid>
</ion-content>