<ion-header>
  <ion-toolbar class="center" color="filmlo">
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="center">
    <app-logo></app-logo>
    <h1>Kreiranje naloga</h1>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister2()" >
    <ion-item lines="none" *ngIf="greska===true">
      <ion-label color="danger">{{tekstGreske}} <a *ngIf="vecPostoji===true" routerLink="/log-in">Prijavi se</a></ion-label>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">
              Ime
            </ion-label>
            <ion-input type="text" formControlName="name" [(ngModel)]="name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3" >
          <ion-item>
            <ion-label position="floating">
              Prezime
            </ion-label>
            <ion-input type="text" formControlName="surname" [(ngModel)]="surname"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">
              Email
            </ion-label>
            <ion-input type="email" formControlName="email" [(ngModel)]="mejl"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
        <ion-col size-sm="6" offset-sm="3">
          <ion-label color="danger">Moraš uneti validnu email adresu!</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">
              Šifra
            </ion-label>
            <ion-input type="password" formControlName="password" [(ngModel)]="sifra"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
        <ion-col size-sm="6" offset-sm="3">
         <ion-label color="danger">Šifra mora biti dužine minimum 8 karaktera</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">
              Ponovi šifru
            </ion-label>
            <ion-input type="password" formControlName="cpassword" [(ngModel)]="sifra2"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="6" >
          Imaš nalog?  <a routerLink="/log-in">Prijavi se</a>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="submit" expand="block" shape="round" [disabled]="registerForm.invalid" color="filmlo" >
            Registracija
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
