<!--<app-menu></app-menu>-->
<ion-header>
  <ion-toolbar color="filmlo" class="center">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pretraži moje filmove</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar animated="true" placeholder="Naziv filma" [(ngModel)]="queryText" (ionInput)="updateMovies($event)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-item *ngIf="prazan">
  <ion-label>Nema odgledanih filmova!</ion-label>
</ion-item>

<ion-content>
<!--  <ion-list>-->
<!--    &lt;!&ndash;    <app-quote-element *ngFor="Let quote of quotes" [quote]="quotes" [routerLink]="quote.id"></app-quote-element>&ndash;&gt;-->
<!--    <app-movie-element *ngFor="let movie of movies" [movie]="movie" [routerLink]="movie.id"></app-movie-element>-->
<!--    &lt;!&ndash;    kad se klikne na citat u ruti ce se pojaviti njegov id, svjdn je sta pise q ili quote&ndash;&gt;-->
<!--  </ion-list>-->
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner  name="bubbles"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col col-6>
<!--        <ion-col col-6>&ndash;&gt;-->
          <!--        <ion-card text-center padding>-->
          <app-movie-element *ngFor="let movie of movies" [movie]="movie" [routerLink]="movie.id"></app-movie-element>
          <!--        </ion-card>-->
          <!--      </ion-col>-->
      </ion-col>


    </ion-row>

  </ion-grid>

  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="filmlo" (click)="otvoriStranuZaDodavanje()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

