.filebtn{
  opacity: 0;
  position: absolute;
  top: -100em;
  left: -100em;
}

ion-avatar {
  width: 120px;
  height: 120px;
  //position: center;
  //align-content: end;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  margin: auto;
}