<ion-header>
  <ion-toolbar color="filmlo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies/tabs/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Detalji filma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h1>{{ruta1}}</h1>
      </ion-card-title>
    </ion-card-header>

<!--    <ion-card-content>-->
<!--      <h2>{{pronadjenFilm.imdbRating}}</h2>-->
<!--    </ion-card-content>-->


    <ion-button color="filmlo" >
      <ion-icon name="bookmark-outline"></ion-icon>
      Sacuvaj film
    </ion-button>

  </ion-card>




</ion-content>
