<ion-header>
  <ion-toolbar color="filmlo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="center">Sacuvani filmovi</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated="true" placeholder="Pretrazi sacuvane filmove" [(ngModel)]="queryText" (ionInput)="updateMovies($event)" ></ion-searchbar>
    <ion-item class="center" *ngIf="prazno">
      <ion-label>Nema sacuvanih filmova</ion-label>
    </ion-item>
<ion-list>
  <ion-item *ngFor="let movie of movies" [routerLink]="['/','movies', 'tabs', 'home-page', movie.IDFilma]" >
    <ion-thumbnail slot="start">
      <ion-img [src]="movie.poster"></ion-img>
    </ion-thumbnail>
      <ion-label> {{movie.imeFilma}}</ion-label>
    <ion-icon name="star-sharp" slot="end"  size="large" color="filmlo"></ion-icon>
  </ion-item>
</ion-list>
  <ion-fab  vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="filmlo" (click)="otvoriPretragu()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
