<ion-header>
  <ion-toolbar color="filmlo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="center">Sačuvani filmovi</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated="true" *ngIf="!prazno"  placeholder="Pretraži sačuvane filmove" [(ngModel)]="queryText" (ionInput)="searchMovies($event)" ></ion-searchbar>

  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="filmlo" name="bubbles"></ion-spinner>
  </div>
<ion-list *ngIf="!isLoading">
  <ion-item class="center" *ngIf="prazno" lines="none" >
    <ion-label class="font">Nema sačuvanih filmova!</ion-label>
  </ion-item>

<ion-row class="ion-justify-content-center"  *ngIf="prazno">
  <ion-item   *ngIf="prazno" lines="none">
    <div >
      <ion-button color="filmlo" shape="round" (click)="otvoriPretragu()">Pretraži IMDb bazu filmova sada!</ion-button>
    </div>
  </ion-item>
</ion-row>

  <ion-item  *ngFor="let movie of movies" [routerLink]="['/','movies', 'tabs', 'home-page', movie.IDFilma]" >
    <ion-thumbnail slot="start">
      <ion-img [src]="movie.poster"></ion-img>
    </ion-thumbnail>
      <ion-label> {{movie.imeFilma}}</ion-label>
    <ion-icon name="star-sharp" slot="end"  size="large" color="filmlo"></ion-icon>
  </ion-item>
</ion-list>
  <ion-fab  vertical="bottom" horizontal="center" slot="fixed" *ngIf="!prazno">
    <ion-fab-button color="filmlo" (click)="otvoriPretragu()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
