@font-face {
  font-family: Sofia;
  src: url("../assets/fonts/8QIHdirahM3j_su5uI0.woff2")
}
@font-face {
  font-family: Gabriela;
  src: url("../assets/fonts/gabriela")
}

ion-button{

  font-family: "Sofia" !important;
  font-weight: bold;
 // font-size: 25px;
}