<!--Ovde cemo staviti tabove u donjem delu erana-->
<app-menu></app-menu>
<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">

    <ion-tab-button tab="home-page">
      <ion-icon name="home"></ion-icon>
      <ion-label>Pocetna</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-movie">
      <ion-icon name="create"></ion-icon>
      <ion-label>Dodaj film</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search-movie">
      <ion-icon name="search"></ion-icon>
      <ion-label>Pretrazi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity">
    <ion-icon name="bar-chart-outline"></ion-icon>
    <ion-label>Aktivnost</ion-label>
  </ion-tab-button>

    <ion-tab-button tab="myprofile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Moj profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>