<ion-header>
  <ion-toolbar>
    <ion-title>Dodaj film</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <!--sirina u gridu je ogranicena na 12-->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <!--      ofset govori kolika je udualjenost el od leve strane, size je 6, pola od 12-->
          <ion-list>
            <ion-item>
              <ion-label position="floating">Naziv</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Glumac</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Godina</ion-label>
              <ion-input type="number" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Žanr</ion-label>
              <ion-select value="" okText="Potvrdi" cancelText="Odustani">
                <ion-select-option value="avantura">Avantura</ion-select-option>
                <ion-select-option value="animacija">Animacija</ion-select-option>
                <ion-select-option value="akcioni">Akcioni</ion-select-option>
                <ion-select-option value="biografski">Biografski</ion-select-option>
                <ion-select-option value="vestern">Vestern</ion-select-option>
                <ion-select-option value="deciji">Dečiji</ion-select-option>
                <ion-select-option value="dokumentarni">Dokumentarni</ion-select-option>
                <ion-select-option value="drama">Drama</ion-select-option>
                <ion-select-option value="istorijski">Istorijski</ion-select-option>
                <ion-select-option value="komedija">Komedija</ion-select-option>
                <ion-select-option value="kratki">Kratki</ion-select-option>
                <ion-select-option value="kriminalisticki">Kiminalistički</ion-select-option>
                <ion-select-option value="ljubavni">Ljubavni</ion-select-option>
                <ion-select-option value="misterija">Misterija</ion-select-option>
                <ion-select-option value="mjuzikl">Mjuzikl</ion-select-option>
                <ion-select-option value="muzicki">Muzički</ion-select-option>
                <ion-select-option value="naucnofantasticki">Naučno-fantastični</ion-select-option>
                <ion-select-option value="porodicni">Porodični</ion-select-option>
                <ion-select-option value="ratni">Ratni</ion-select-option>
                <ion-select-option value="sportski">Sportski</ion-select-option>
                <ion-select-option value="triler">Triler</ion-select-option>
                <ion-select-option value="fantastika">Fantastika</ion-select-option>
                <ion-select-option value="horor">Horor</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item >
              <ion-label >Ocena</ion-label>
              <div class="my-checkbox">
                <ion-checkbox color="filmlo"></ion-checkbox>
                <ion-label>1</ion-label>
              </div>
              <div class="my-checkbox">
                <ion-checkbox color="filmlo"></ion-checkbox>
                <ion-label>2</ion-label>
              </div>
              <div class="my-checkbox">
                <ion-checkbox color="filmlo"></ion-checkbox>
                <ion-label>3</ion-label>
              </div>
              <div class="my-checkbox">
                <ion-checkbox color="filmlo"></ion-checkbox>
                <ion-label>4</ion-label>
              </div>
              <div class="my-checkbox">
                <ion-checkbox color="filmlo"></ion-checkbox>
                <ion-label>5</ion-label>
              </div>

            </ion-item>
            <ion-item>
              <ion-label position="floating">Komentar</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <!--    centrira se po x osi, pogledaj dokumentaciju css-utilities-->
        <ion-col size-sm="6" >
          <ion-button type="submit" expand="block" X color="filmlo" >Potvrdi</ion-button>
          <!--size="large"-->
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>



