<!--<app-menu></app-menu>-->

<ion-header>
  <ion-toolbar color="filmlo">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="ion-text-center">Dodaj film</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="filmlo">
    <ion-card >

  <form >
    <ion-grid>
      <!--sirina u gridu je ogranicena na 12-->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <!--      ofset govori kolika je udualjenost el od leve strane, size je 6, pola od 12-->
          <ion-list>
              <ion-item>
                  <ion-label position="floating" >Naziv</ion-label>
                  <ion-input type="text" ngModel name="text" required minlength="1" #text="ngModel"></ion-input>
              </ion-item>
              <ion-item lines="none" *ngIf="text.invalid && text.touched">
                  <ion-label color="danger">Naziv filma je obavezno polje!</ion-label>
              </ion-item>

            <ion-item>
                <ion-label position="floating">Glumci</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
              <ion-item>
                  <ion-label position="floating">Režiser</ion-label>
                  <ion-input type="text"></ion-input>
              </ion-item>
              <ion-row>
              <ion-col>
            <ion-item>
              <ion-label position="floating">Žanr</ion-label>
              <ion-select value="" okText="Potvrdi" cancelText="Odustani">
                <ion-select-option value="avantura">Avantura</ion-select-option>
                <ion-select-option value="animacija">Animacija</ion-select-option>
                <ion-select-option value="akcioni">Akcioni</ion-select-option>
                <ion-select-option value="biografski">Biografski</ion-select-option>
                <ion-select-option value="vestern">Vestern</ion-select-option>
                <ion-select-option value="deciji">Dečiji</ion-select-option>
                <ion-select-option value="dokumentarni">Dokumentarni</ion-select-option>
                <ion-select-option value="drama">Drama</ion-select-option>
                <ion-select-option value="istorijski">Istorijski</ion-select-option>
                <ion-select-option value="komedija">Komedija</ion-select-option>
                <ion-select-option value="kratki">Kratki</ion-select-option>
                <ion-select-option value="kriminalisticki">Kiminalistički</ion-select-option>
                <ion-select-option value="ljubavni">Ljubavni</ion-select-option>
                <ion-select-option value="misterija">Misterija</ion-select-option>
                <ion-select-option value="mjuzikl">Mjuzikl</ion-select-option>
                <ion-select-option value="muzicki">Muzički</ion-select-option>
                <ion-select-option value="naucnofantasticki">Naučno-fantastični</ion-select-option>
                <ion-select-option value="porodicni">Porodični</ion-select-option>
                <ion-select-option value="ratni">Ratni</ion-select-option>
                <ion-select-option value="sportski">Sportski</ion-select-option>
                <ion-select-option value="triler">Triler</ion-select-option>
                <ion-select-option value="fantastika">Fantastika</ion-select-option>
                <ion-select-option value="horor">Horor</ion-select-option>
              </ion-select>

            </ion-item>
              <ion-row class="ion-justify-content-center">
                  <ion-col offset-sm="0"> <a (click)="presentAlertPrompt()" >Dodaj žanr</a>
                  </ion-col>
              </ion-row>
              </ion-col>
                  <ion-col>
              <ion-item>
                  <ion-label position="floating">Jezik</ion-label>
                  <ion-input type="text" ></ion-input>
              </ion-item>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col><ion-item>

                  <ion-label position="floating">Godina</ion-label>
                  <ion-input type="number" ></ion-input>
              </ion-item></ion-col>
                  <ion-col><ion-item>
                  <ion-label position="floating">Trajanje (min)</ion-label>
                  <ion-input type="number" ></ion-input>
              </ion-item></ion-col>
              </ion-row>


              <ion-radio-group  [(ngModel)]="something">
                  <ion-row>
                      <ion-col>
                          <ion-item>
                              <ion-label > Ocena</ion-label>
                          </ion-item>
                      </ion-col>
                      <ion-col>
                          <ion-item>
                              <ion-label>1</ion-label>
                              <ion-radio mode="md" item-left value="1"></ion-radio>
                          </ion-item>
                      </ion-col>

                      <ion-col>
                          <ion-item>
                              <ion-label>2</ion-label>
                              <ion-radio mode="md" item-left value="2"></ion-radio>
                          </ion-item>
                      </ion-col>

                      <ion-col>
                          <ion-item>
                              <ion-label>3</ion-label>
                              <ion-radio mode="md" item-left value="3"></ion-radio>
                          </ion-item>
                      </ion-col>
                      <ion-col>
                          <ion-item>
                              <ion-label>4</ion-label>
                              <ion-radio mode="md" item-left value="4"></ion-radio>
                          </ion-item>
                      </ion-col> <ion-col>
                      <ion-item>
                          <ion-label>5</ion-label>
                          <ion-radio mode="md" item-left value="5"></ion-radio>
                      </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>

            <ion-item>
                <ion-label position="floating">Komentar</ion-label>
                <ion-textarea rows="5"></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col offset-sm="3" >
            <ion-button  type="reset" expand="block"  color="filmlo" >Poništi</ion-button>
        </ion-col><ion-col offset-sm="-3">
            <ion-button type="submit" expand="block"   color="filmlo" >Sačuvaj</ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
  </form>
    </ion-card>
</ion-content>



