
  //za sliku kao pozadina:
  //.bg-image {
  // background-image: url("uneti putanju") ;
  //  background-repeat: no-repeat;
  //  background-position: center;
  //  background-size: contain;
  //}

  //za gradijente

.bg{
  --ion-background-color: linear-gradient(to bottom, #519897 0%, #ff00b0 100%);
}
//ion-content{
//--ion-background-color: #3880ff;
//}
  .white {
    --ion-background-color: #fff;
  }

  //.center {
  //  display: flex;
  //  justify-content: center;
  //  align-content: center;
  //  align-items: center;
  //  width: 50%;
  //}

  //ion-input{
  //    width:100%;
  //    border:2px solid #aaa;
  //    border-radius:4px;
  //    margin:3px 0;
  //    outline:none;
  //    padding:8px;
  //    box-sizing:border-box;
  //    transition:.3s;
  //}

  h1{
    font-family: "Sofia" !important;
    font-weight: bold;
  }
  ion-button{

    font-family: "Gabriela" !important;
    font-weight: bold;
    letter-spacing: 3px;
    // font-size: 25px;
  }