
<ion-menu side="start" contentId="main-content" swipe-gesture="false">
  <ion-header>
    <ion-toolbar color="filmlo">
<ion-row>
<!--    <div>-->
<!--                <ion-avatar >-->
<!--                    <img src="assets/img/user.png" alt="User logo">-->
<!--                </ion-avatar>-->
<!--                <ion-label>{{imePrezimeKorisnik}}</ion-label>-->
<!--    </div>-->
<!--    <ion-col width-25>-->
<!--        <ion-avatar >-->
<!--            <img src="assets/img/user.png" alt="User logo">-->
<!--        </ion-avatar>-->

<!--    </ion-col>-->
    <ion-col width-25>
        <ion-label>{{imePrezimeKorisnik}}</ion-label>
    </ion-col>
</ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list >

<!--      <ion-menu-toggle>-->
<!--      <ion-item routerLink="/myprofile">-->
<!--        <ion-icon name="person-circle" slot="start" color="filmlo"></ion-icon>-->
<!--        <ion-label>Moj profil</ion-label>-->
<!--      </ion-item>-->
<!--      </ion-menu-toggle>-->

      <ion-menu-toggle>
      <ion-item (click)="odjaviSe()">
        <ion-icon name="log-out" slot="start" color="filmlo" ></ion-icon>
        <ion-label>Odjavi se</ion-label>
      </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>


