
<ion-header>
  <ion-toolbar class="center" color="filmlo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Moj profil</ion-title>
    <ion-label slot="end">Izmeni</ion-label>
    <ion-fab-button slot="end" size="small" color="filmlo" (click)="otvoriStranuZaIzmenu()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-grid>
      <ion-card-header>
        <ion-card-title class="center">
          <h1>{{imePrezime}}</h1>

        </ion-card-title>
      </ion-card-header>

      <ion-card-content >
        <ion-avatar >

          <ion-img [src]="slikaKorisnika"></ion-img>

        </ion-avatar>
      </ion-card-content>


      <ion-card-content>
        <ion-label>E-mail adresa: </ion-label>
        <ion-label>{{mejlAdresa}}</ion-label>
      </ion-card-content>
      <ion-card-content>
        <ion-label>Broj sacuvanih fimova: </ion-label>
        <ion-label>{{brojSacuvanih}}</ion-label>
      </ion-card-content>
<!--        <ion-card-content *ngFor="let movie of filmovi">-->
<!--            <ion-label>{{movie.imeFilma}}</ion-label>-->
<!--        </ion-card-content>-->

    <ion-button color="danger"  shape="round">Deaktiviraj nalog</ion-button>
    </ion-grid>

  </ion-card>
</ion-content>
