<ion-slides  [options]="slideOpts" scrollbar="true">
  <ion-slide>
    <app-logo></app-logo>
    <h2>Dobro došao/la u FilmLo!</h2>
    <p>Aplikacija za sve ljubitelje filmova</p>
  </ion-slide>

  <ion-slide>
    <h2>Koliki si zapravo ljubitelj filmova?</h2>
    <p>FilmLo nudi mogućnost praćenja koji ti je omiljeni žanr, koliko vremena provodiš gledajući filmove, i još mnogo toga!</p>
  </ion-slide>

  <ion-slide>
    <h2>Komedije, horor, akcija...</h2>
    <p>Isprati šta najviše gledaš, ODMAH!</p>
  </ion-slide>

</ion-slides>