<ion-header>
  <ion-toolbar color="filmlo">
    <ion-buttons slot="start">
      <!--    da mozemo da se vratimo nayad na sve filmove-->
      <ion-back-button defaultHref="/movies/tabs/search-movie">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Detalji filma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="isLoading">
   <ion-spinner color="filmlo" name="bubbles"></ion-spinner>
  </div>
  <ion-card *ngIf="!isLoading">
    <ion-card-header>
      <ion-card-title>
        <h1>{{movie.naziv}}</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Trajanje: {{movie.trajanje}} min</h2>
    </ion-card-content>
    <ion-card-content>
      <h2>Zanr: {{movie.zanr}}</h2>
    </ion-card-content>
    <ion-card-content>
      <h2>Glumci: {{movie.glumci}}</h2>
    </ion-card-content>
    <ion-card-content>
      <h2>Reziser: {{movie.reziser}}</h2>
    </ion-card-content>
    <ion-card-content>
      <h2>Zemlja: {{movie.zemlja}}</h2>
    </ion-card-content>
    <ion-card-content>
      <h2>Godina: {{movie.godina}}</h2>
    </ion-card-content>
    <ion-card-content>
      <h2>Ocena: {{movie.ocena}}/5</h2>
    </ion-card-content>
    <ion-card-content>
      <h2>Datum gledanja: {{movie.datum}}</h2>
    </ion-card-content>
    <ion-card-content>
      <h2>Moj komentar: {{movie.komentar}}</h2>
    </ion-card-content>
<!--    Dugme za izmenu filma, otvara se forma za dodvanje filma-->
    <ion-button color="filmlo" (click)="izmeni()">
      <ion-icon name="pencil-outline"></ion-icon>
      Izmeni film
    </ion-button>
<!--    Brisanje filma, pre tog alert!-->
    <ion-button color="filmlo" (click)="openAlert()" >
      <ion-icon name="trash-outline"></ion-icon>
      Obrisi film
    </ion-button>
  </ion-card>




</ion-content>
